*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat' sans-serif;
}

/* HEADER STYLES */
.account-icon{
    display: none;
}
@media  (min-width: 767px) and (max-width: 775px){
    .login{
        padding-right: 10px;
    
    }
    .nav-link{
        font-size: 10px;
    }
}
@media screen and (max-width: 767px ){
    .account-icon{
        display: block;
    }
    .header-inner{
        width: 100%;
    }
    .navbar-scroll{
        margin-left: 0px;
    }
    main{
        margin: 0 20px 60px 20px;
        
    }
    
}
@media only screen and (min-width: 768px){
    main{
        margin: 0 60px 80px 60px;
    }
    .logo{
        margin-left: 40px; 
    }
    .login{
        padding-right: 30px;
    }
    .nav-link{
        font-size: 14px;
    }

}
@media screen and (min-width: 511px) and (max-width: 613px){
    .account-icon{
        margin-right: 6rem
    }
    .logo{
        margin-right: 3rem;
    }

}
@media screen and (min-width: 328px) and (max-width: 510px){
    .account-icon{
        margin-right: 3rem
    }
    .logo{
        margin-right: 2rem;
    }

}
@media screen and (max-width: 328px){
    .account-icon{
        margin-right: 2rem;
    }
} 
@media only screen and (min-width:1200px){
	.nav-item > .nav-link{
        padding: 5px 10px !important;
		display: block !important;
        font-size: 20px;
        margin-left: 30px;
    }
    .header-btn{
        font-size: 20px;
    }
    footer{
        font-size: 20px;
    }
    .login{
        padding-right: 120px;
    }
    .logo{
        margin-left: 120px;
    }
}

@media only screen and (max-width:992px){
	.header-inner{background-color: white!important;
	}
    .header-btn{
        font-size: 14px;
    }

}
@media screen and (min-width: 775px) and (max-width: 913px){
    .logo{
        margin-left: 20px;
    }
    .login{
        padding-right: 20px;
    }
    main{
        margin: 0 30px 60px 30px;
    }
}

.header-inner{
width: 100%;
background-color: transparent;
padding-top: 15px;
}
main{
    min-height: calc(100vh - 211px - 58px);
    margin-top: 30px;
}

.nav-item .nav-link{display: block;

text-transform: capitalize;
font-weight: 500;
color: black;
transition: 0.15s;}

.nav-item .nav-link:hover{color: rgba(255, 124, 68, 1);}

.header-btn{color: black;
border-radius: 10px;
background-color: white;
border:none;
font-weight: 500;
outline: none;

padding:7px 20px;
transition: 0.5s;
}

.header-btn:hover{background-color: rgba(255, 124, 68, 1);
cursor: pointer;}

.navbar-scroll{background-color: #ffffff;
padding: 0;
position: fixed;
top:0;
z-index: 99;
box-shadow:0px 1px 10px rgba(0,0,0,0.4);
transition-duration: 0.6s; }



/* main */
.hero{
    width: 100%;
    height: 518px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(0, 0, 0, 0.8)), url(../assets/pexels-tranmautritam-326503.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero h1{
    color: white;
    font-size: 56px;
    text-align: center;
    margin-bottom: 50px;
}
.hero-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;

}
.hero-search form{
    width: 100%;
    display: flex;
    align-items: center;
    height: 73.48px;
    gap: 16px;
    justify-content: center;
}
.top-form{
    width: 70%;
    display: flex;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 0 10px;
}
.top-form img{
    height: 25.33px;
    width: 24.17px;
    margin: 25px 20px 0;
}
.hero-search input{
    width: 90%;
    height: 73.48px;
    border-radius: 8px;
    padding: 0 20px;
    border: none;
    margin-right: 0px;
    outline: none;
}
.hero-search button{
    width: 15%;
    height: 72px;
    border-radius: 8px;
    border: none;
}
.second-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 62px;
}
.category{
    height: 59px;
    width: 84px;
    margin-top: 24px;
    background-color: #BBBBBB;
    border-radius: 8px;
    padding: 17px 8px 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #F4F4F4;
    line-height: 24px;

}
.third-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 146px;
    padding: 0px;
    gap: 28px;
}
.third-container-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 28px;
    padding: 0px;
    /* gap: 828px; */
    width: 100%;
    justify-content: space-between;
}
.third-container-1 h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #262322;
    text-align: center;
}
.third-container-1 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #BBBBBB;
}
.third-container-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}
.third-container-2 img{
    width: 384px;
    height: 385px;
    border-radius: 8px;
}
.fourth-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 110px;
    padding: 0px;
    gap: 28px;
}
.fourth-container-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
    align-items: center;
    padding: 0px;
    /* gap: 828px; */
    width: 100%;
    justify-content: space-between;
}
.fourth-container-1 h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #262322;
    text-align: center;
}
.fourth-container-1 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #BBBBBB;
}
.fourth-container-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}
.fourth-container-2 img{
    width: 384px;
    height: 385px;
    border-radius: 8px;
}
.fifth-container{
    height: 416.65px;
    background: #BBBBBB;
    border-radius: 8px;
    margin-top: 154px;

}
.fifth-container img{
    width: 198.03px;
    height: 163.64px;
    margin: 116.33px 492.97px 136.68px 492px;
}
/* FOOTER STYLING */


.footer{
    background-color: grey;
    padding: 20px 0px; 
    color: white; 
}
.footer-logo{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.footer-flexbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.grid-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}
.news-email-flexbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.email-support{
    display: flex;
    align-items: center;
    gap: 20px;
}
.email-icon{
    margin-bottom: 40px;
}
.newsletter form input{
    padding: 1rem 2rem;
    border-radius: 10px 0 0 10px;
    border: none;
    width: 30rem;
    outline: 0;
}
.newsletter form button{
    padding: 1rem 2rem;
    border-radius: 0px 10px 10px 0px ;
    border: none;
    background-color: rgba(255, 124, 68, 1);
}
.footer-icons img{
}
.footer-icons{
    border: 1px solid black;
    display: flex;
    margin-right: 50px;
}
































































































