*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat' sans-serif;
}
.login-signup a{
    text-decoration: none;
    color: rgba(187, 187, 187, 1);
    padding:12px 18px;

}

/* HEADER STYLES */
.account-icon{
    display: none;
}
.header-inner{
    width: 100%;
    padding-top: 15px;
    top: 0;
    left: 0;
    width:100%;
    z-index: 99;
    background-color: white;
    
}

.nav-item .nav-link{
    display: block;
    text-transform: capitalize;
    font-weight: 500;
    color: rgba(187, 187, 187, 1);
    transition: 0.15s;
}
    
.nav-item .nav-link:hover{
        color: rgba(255, 124, 68, 1);
}
    
.login-signup a{
    border-radius: 8px;
    background-color: white;
    border:none;
    font-weight: 500;
    outline: none;
    /* padding:7px 20px; */
    transition: 0.5s;
}
    
.login-signup a:hover{
    background-color: rgba(255, 124, 68, 1);
    cursor: pointer;
    color: white;

}
.header{
    position: relative;
    width: 100%;
    padding-top: 0px;
}
.navbar-scroll{
    background-color: white;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    transition-duration: 0.8s;
    box-shadow:0px 1px 10px rgba(0,0,0,0.4);
    padding-top: 15px;
}
.logo img{
    width: 9rem;
}
    
@media screen and (max-width: 767px ){
    .account-icon{
        display: block;
    }
    
}
@media only screen and (min-width: 768px){
    .nav-link{
        font-size: 14px;
    }

}
@media only screen and (min-width:1200px){
	.nav-item > .nav-link{
        padding: 5px 10px !important;
		display: block !important;
        font-size: 20px;
        margin-left: 30px;
    }
    .login-signup a{
        font-size: 20px;
    }
    footer{
        font-size: 20px;
    }
}

@media only screen and (max-width:992px){
	.header-inner{
        background-color: white!important;
	}
    .login-signup a{
        font-size: 14px;
    }

}
@media screen and (max-width: 426px) {
    .logo img{
        width: 6rem;
        margin-left: 40px;
    }
    
}



/* main */
main{
    min-height: calc(100vh - 211px - 58px);
    margin-top: 20px;
    margin-bottom: 80px;
}
.hero{
    width: 100%;
    background-image:  url(../assets/hero-bg.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    height:70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero h1{
    color: white;
    font-size: 56px;
    text-align: center;
    margin-bottom: 50px;
}
.hero-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;

}
.hero-search form{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}
.hero-search .input-search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    padding-left: 15px;
    height: 4rem;
    width: 60%;
}
.input-search-box i{
    font-size: 20px;
    color: gray;
}

.hero-search input{
    width: 100%;
    padding: 0 20px;
    border: none;
    margin-right: 0px;
    outline: none;
}
.hero-search button{
    width: 20%;
    height: 4rem;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 124, 68, 1);
    color: white;
    font-size: 20px;
}
@media screen and (max-width: 1200px) {
    .hero h1{
        font-size: 45px;
    }
    
}
@media screen and (max-width: 992px) {
    .hero h1{
        font-size: 35px;
    }
    .hero-search .input-search-box{
        width: 80%
    }
    .hero-search{
        width: 80%;
    }
    .hero{
        height: 65vh;
    }
}
@media screen and (max-width: 768px) {
    .hero h1{
        font-size: 32px;
    }
    .hero-search .input-search-box{
        height: 3.5rem;
    }
    .hero-search button{
        height: 3.5rem;
        width: 30%;
    }
    .hero-search{
        width: 90%;
    }
}
@media screen and (max-width: 426px) {
    .hero h1{
        font-size: 25px;
        margin-bottom: 25px;
    }
    .hero-search .input-search-box{
        height: 3.2rem;
    }
    .hero-search button{
        height: 3.2rem;
        width: 30%;
        font-size: 14px;
    }
    .hero-search{
        width: 90%;
    }
    .hero-search form{
        gap:12px
    }
    .hero{
        background-position: 25% 15%;
        height: 50vh;
    }
}
@media screen and (max-width: 376px) {
    .hero h1{
         font-size: 21px;
    }
    .hero-search{
        width: 95%;
    }
    .hero-search .input-search-box{
        height: 3rem;
    }
    .hero-search button{
        height: 3rem;
        width: 35%
    }
    .hero-search .input-search-box i{
        font-size: 15px;
    }
    
}

@media screen and (max-width: 322px) {
    .hero-search{
        width: 98%;
    }
    .hero-search .input-search-box, .hero-search button{
        height: 2.5rem;
    }
    .hero h1{
        font-size: 19px;
    }
    
}


/* CATEGORIES BOXES */
.categories-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 3%;
    margin-top: 24px;
}
.categories-mobile{
    display: none;
}

@media screen and (max-width:1200px) {
    .categories-container{
        gap: 2%;
        grid-template-columns: repeat(8, 1fr);
    }
    .category-box{
        padding: 3px ;
        font-size: 14px;
    }
}
@media screen and (max-width: 992px) {
    .categories-container{
        display: none;
    }
    .categories-mobile{
        display: block;
    }
    
}
@media screen and (max-width: 500px) {
    .categories-mobile .flickity-button {
        background: red;
        width: 15px;
        height: 15px;
      } 
      .categories-mobile .carousel-cell{
        width: 25%;
        margin-right: 20px;
      }
}
@media screen and (max-width: 400px) {
    .categories-mobile .carousel-cell{
        margin-right: 15px;
        width: 25%;
    }
    
    
    
}
.carousel {
    background: white;
    
}
.categories-mobile .flickity-button {
    background: white;
    width: 20px;
    height: 20px;
  } 
.carousel-cell {
    width: 20%;
    height: 50px;
    margin: 15px 35px 15px 0;
    background: rgba(255, 124, 68, 1);
    border-radius: 8px;
}
  
.category-mobile{
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
  }
  .category-mobile:active{
    color: white;
  }
.category-box{ 
    /* background-image: linear-gradient(to right, rgba(255, 124, 68, 1), rgba(225, 145, 51, 1)); */
    background: rgba(255, 124, 68, 1);
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: 400;
    color: white;
    text-align: center;
}


.section{
    margin: 120px 0;
    width: 100%;
}

/*         BEST SELLING SECTION     */
.best-selling-container, .promo-deals-container{
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 20px;
    border: 1px solid #BBBBBB;
    border-radius: 8px;
}
.product-image-container{
    background-color: rgba(0, 48, 60, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    min-height: 50vh;
    
}
.product-price-card{
    width: 100%;
    position: relative;
}
.product-price-card .discount-1{
    position: absolute;
    transform: translateX(313px);
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(255, 124, 68, 0.2);
    color: rgba(255, 124, 68, 1);
    font-size: 18px;
    font-weight: 500;
}
.product-price-card .discount-2{
    position: absolute;
    transform: translateX(310px);
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(255, 124, 68, 0.2);
    color: rgba(255, 124, 68, 1);
    font-size: 18px;
    font-weight: 500;
}
.product-price-card .discount-3{
    position: absolute;
    transform: translateX(320px);
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(255, 124, 68, 0.2);
    color: rgba(255, 124, 68, 1);
    font-size: 18px;
    font-weight: 500;
}
.price{
    margin-top: 15px;
}
.price .old-price{
    display: flex;
    gap: 5px;
}
.old-price span{
    color: #BBBBBB;
    font-weight: 500;
    text-decoration: line-through;
}
 .price p{
    color: rgba(240, 17, 17, 1);
    font-weight: 500;
}
.section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.section-header h5{
    color: rgba(187, 187, 187, 1);
}
@media screen and (max-width: 768px) {
    .best-selling-container, .promo-deals-container{
        flex-direction: column;
    }
}


.img-slider{
    width: 100%;
    margin-bottom: 50px;
}


@media screen and (max-width:327px) {

    .img{
        display: block;
    }
    img{
        width: 250px;
    }
    .text1, .text{
        margin: 0;
        text-align: center;
    }

    .img-slider{
        margin: 0;
        width: 250px;
        
    }
    
}

@media screen and(max-width:500px){
    .img{
        display:block;

    }
}





/* FOOTER STYLING */


.footer{
    background-color: #00303C;
    padding: 20px 0px; 
    color: white; 
}
.footer-logo{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.footer-flexbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.email{
    overflow: hidden;
}
.grid-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}
.news-email-flexbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.email-support{
    display: flex;
    align-items: center;
    gap: 20px;
}
.email-icon{
    margin-bottom: 40px;
}
.email h5{
    font-weight: 700;
}
.newsletter form input{
    padding: 1rem 2rem;
    border-radius: 10px 0 0 10px;
    border: none;
    width: 30rem;
    outline: 0;
}
.newsletter form button{
    padding: 1rem 2rem;
    border-radius: 0px 10px 10px 0px ;
    border: none;
    background-color: rgba(255, 124, 68, 1);
}
.footer-icons img{
    margin-left: 40px;
    height: 30px;
    width: 30px;
}
.footer-icons{
    display: flex;
    margin-right: 50px;
    transform: translateX(-40px);
}
.email-support-mobile{
    display: none;
}

@media screen and (min-width:991px) and (max-width: 1200px){
    .newsletter form button, .newsletter form input{
        padding: 0.7rem 1rem

    }
    .footer-icons{
        margin-right: 20px;
    }
    .footer-icons img{
        width: 25px;
        height: 25px;
    }
    .footer-logo img{
        width: 20%;
    }
    .newsletter form input{
        width: 20rem;
    }
}
@media screen and (max-width: 991px){
    .newsletter form input{
        width: 15rem;
    }
    .email-icon i{
        font-size: 30px;
        padding-bottom: 30px;
    }
    .news-email-flexbox{
        gap: 20px;
    }
    .footer-icons{
        margin-right: 20px;
    }
    .footer-icons img{
        width: 25px;
        height: 25px;
    }
    .footer-logo img{
        width: 30%;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px){
    .newsletter form input{
        width: 8rem;
        padding: 0.5rem 0.7rem;
    }
    .newsletter form button{
        padding: 0.5rem 0.5rem;
    }
    .footer-icons{
        margin-right: 10px;
        transform: translateX(-20px);
    }
    .footer-list h1{
        font-size: smaller;   
    }
    .footer-list p{
        font-size: 14px;
    }
    .email-icon{
        transform: translateY(-15px);
    }
    .footer-logo img{
        width: 30%;
    }

}
@media screen and (max-width: 500px){
    .email-support{
        display: none;
    }
    .email-support-mobile{
        display: block;
        display: flex;
        align-items: center;
        gap: 20px;
        transform: translateY(-60px);
    }
    .footer-flexbox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 50px;
        row-gap: 20px;
    }
    .email-icon{
        transform: translateY(-15px);
    }
    .email-icon img{
        width: 18px;
        height: 18px;
    }
    .news-email-flexbox{
        padding-left: 50px;
        width: 100%;
    }
    .newsletter form input{
        width: 18rem;
    }
    .newsletter h5{
        text-align: center;
    }
    .footer-icons{
        margin: 0;
    }
    .footer-icons img{
        width: 20px;
        height: 20px;
        margin-left: 2px;
    }
    .spaced-icon{
        margin-left: 0;
    }
}

@media screen and (max-width: 425px){
    .email-support{
        display: none;
    }
    .email-support-mobile{
        display: block;
        display: flex;
        align-items: center;
        gap: 20px;
        transform: translateY(-65px);
        padding-left: 20%;
    }
    .footer-flexbox{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        padding-left: 30px;
        row-gap: 20px;
    }
    .email-icon{
        transform: translateY(-10px);
    }
    .email-support-mobile .email-icon img{
        width: 12px;
        height: 12px;
    }
    .news-email-flexbox{
        padding-left: 20px;
        width: 100%;
    }
    .newsletter form input{
        width: 17rem;
        padding: 0.7rem 0.8rem;
    }
    .newsletter h5{
        text-align: center;
    }
    .newsletter{
        padding: 0px;
    }
    .footer-flexbox h5{
        font-size: 18px;
    }
    .footer-flexbox p{
        font-size: 12px;
    }
    .guidelines{
        padding-left: 40%;
    }
    .newsletter form button{
        padding: 0.7rem 0.5rem;
    }
}

@media screen and (max-width: 376px){
    .email-support{
        display: none;
    }
    .email-support-mobile{
        display: block;
        display: flex;
        align-items: center;
        transform: translateY(-65px);
        
    }
    .slime span i{
        margin-left: 20px;
    }
    .email-support-mobile .email{
        padding-right: 15px;
    }
    .email-support-mobile .email-icon i{
        font-size: 20px;
    }
    .email-support-mobile .footer-icons{
        margin-right: 0px;
    }
    .email-support-mobile .footer-icons img{
        width: 15px;
        height: 15px;
    }
    .footer-flexbox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 0px;
        row-gap: 20px;
    }
    .email-icon{
        transform: translateY(-10px);
    }
    .email-support-mobile .email-icon img{
        width: 10px;
        height: 10px;
    }
    .news-email-flexbox{
        padding-left: 10px;
        width: 100%;
    }
    .newsletter form input{
        width: 15rem;
        padding: 0.7rem 0.8rem;
    }
    .newsletter h5{
        text-align: center;
    }
    .newsletter{
        padding: 0px;
    }
    .footer-flexbox h5{
        font-size: 16px;
    }
    .footer-flexbox p{
        font-size: 14px;
    }
    .guidelines{
        padding-left: 10%;
    }
    
    .newsletter form button{
        padding: 0.7rem 0.5rem;
    }
}

@media screen and (max-width: 321px){
    .email-support-mobile{
        padding-left: 0px;
        padding-right: 0px;
        gap: 0px;
        transform: translateY(-75px);
    }
    .email-support-mobile .email p{
        width: fit-content;
    }
    .footer-flexbox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 0px;
        row-gap: 20px;
    }
    .email-support-mobile .footer-icons{
        margin-right: 0;
        transform: translateX(0px);
    }
    .email{
        padding-left: 10px;
    }
    .email-support-mobile .footer-icons img{
        margin-left: 0px;
        
        
    }
    .email-support-mobile .footer-icons .spaced-icon{
        margin-left: 15px;
    }
    .newsletter form input{
        width: 12rem;
        padding: 0.7rem 0.8rem;
    }
    .newsletter form button{
        font-size: 14px;
        padding: 0.8rem 0.5rem;
    }
    .navbar-scroll{
        width: 100%;
    }
    
}





















































































