
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  
  body {
    font-family: "Roboto";
    
    color: rgba(38, 35, 34, 0.7)
  }
  
  /* FORGOT PASSWORD STYLING */
  
  .forgot-passwrd {
    font-size: 1.2em;
    font-weight: 700;
    margin: 4rem 20em 1rem;
  }

  /* STYLING THE BOX SURROUNDING THE FORM */

.content-box {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 45%;
    margin: 3em auto;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
  }

  /* STYLING THE FORM  CONTENT */

.password-message {
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    margin-left: 15%;
    width: 75%;
    border-radius: 0 0 5px 5px;
  
  }

  /* STYLING THE ENTER EMAIL TEXT */

span {
    
    font-size: 1em;
    padding-bottom: 5%;
    line-height: 24px;
  }