* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
}

.forgot-password {
  font-size: 1.2em;
  font-weight: 700;
  margin: 4rem 12em 2rem;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.6;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.form-box {
    display: flex;
    flex-direction: column;
/* position: absolute; */
 width: 100%;
 padding: 50px 10px 0 30px;
 border-radius: 0 0 5px 5px;
}
