.form-container{
    width: 100%;
    margin: auto;
}
.form-container .form-header-text{
    width: 35%;
    margin: auto;
}
.form-container h3{
    text-align: center;
    width: 100;
}
.sign-up-form{
    width: 40%;
    margin: auto;
    padding: 70px;
    background: #FFFFFF;
    box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.sign-up-form label{
    font-weight: 500;
}
.line-1, .line-2{
    margin-bottom: 15px;
}
.line-3{
    margin-bottom: 5px;
}
.toggle-password{
    display: flex;
}
.toggle-password i{
    transform: translateX(350px);
    position: absolute;
    padding-top: 5px;
    font-size: 16px;
}
.toggle-password i:hover{
    cursor: pointer;
}
.stay-signed-checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.stay-signed-checkbox small{
    color: rgba(255, 124, 68, 1);
}
.form-check label{
    font-size: 14px;
    font-weight: 400;
}
.sign-up-btn{
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 124, 68, 1);
    color: white;
}
.or-divider-text{
    text-align: center;
    margin: 35px 0;
}
.or-divider-text p::before{
    content: "";
    height: 0.5px;
    background-color: black;
    width: 45%;
    display: block;
    transform: translateY(13px);
}
.or-divider-text p::after{
    content: "";
    height: 0.5px;
    background-color: black;
    width: 45%;
    display: block;
    transform: translateX(205px);
    top: -12px;
    position: relative;

}
.sign-up-form button{
    width: 100%;
    padding: 12px 0;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.last-line{
    text-align: center;
    
}
.last-line p a{
    color: rgba(255, 124, 68, 1);
    text-decoration: none;
}