.register{
    width: 1440px;
    min-height: 1288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #262322;
}
h6{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}
.groups{
    width: 742px;
    min-height: 935px;
    display: flex;
    flex-direction: column; 
    background: #F4F4F4;
    box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-left: 96px;
    margin-top: 56px;
    padding: 81px 113px;
    align-items: flex-start;
}
.group{
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 78px;
    margin-top: 24px;
    align-items: flex-start;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

}

label{
    min-width: 90px;
    font-weight: 400;
    margin-top: -1px;
    line-height: 30px;
    white-space: nowrap;
    color: #262322;

}
input{
    min-width: 420px;
    height: 45px;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);

}
::placeholder{
    position: absolute;
    font-weight: 400px;
    left: 12px;
    top: 9px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.4);

}
.sign{
    display: flex;
    align-items: flex-start;
    margin-left: 2px;
    margin-right: 4px;
    align-items: flex-start;
    gap: 213px;
}  
[type="checkbox"]{
    min-width: 24px;
    height: 24px;
}
.Stay-signed-in{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}
.checkbox{
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
.Forget-password{
    font-weight: 400;
font-size: 12px;
line-height: 24px;
color: #FF7C44;
}
.button{
    width: 420px;
    height:54px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF7C44;
    border-radius: 8px;
    padding: 12px 150px;
    margin-top: 32px;

}
.button-text{
    font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #F4F4F4;
}
.or{
    min-width: 20px;
    min-height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}